{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for mensagem in messages %}
    <div class="alert alert-success" role="alert">
        {{ mensagem }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2 class="mb-4">Editar usuario</h2>
    <form action="" method="post">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name='nome' value="{{session['nome']}}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" class="form-control" name='sobrenome' value="{{session['sobrenome']}}">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" name='cpf' value="{{session['Senha']}}">
        </div>
            <div class="col-md-6 mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" name='email' value="{{session['Email']}}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="senha">Senha</label>
                <input type="text" class="form-control" name='senha' >
            </div>
        </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="uf">UF</label>
            <input type="text" class="form-control" name='uf' value="{{session['uf']}}">
        </div>
       </div>
       <div class="col-md-6 mb-3">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" name='cidade' value="{{session['cidade']}}">
       </div>
       </div>
       <div class="col-md-6 mb-3">
        <label for="endereço">Endereço</label>
        <input type="text" class="form-control" name='endereco' value="{{session['endereco']}}">
       </div>
       </div>
       <div class="col-md-6 mb-3">
        <label for="numero_residencial">Numero residencial</label>
        <input type="text" class="form-control" name='numero_residencial' value="{{session['numero_residencial']}}">
      </div>
            <button class="btn btn-primary" type="submit">salvar</button>
        </form>
    
    
</section>
{% endblock %}
