<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jacqueline | {{title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <!-- Menu -->
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="projetos">Projetos</a></li>
        <li><a href="sobre">Sobre</a></li>
        <li><a href="contato">Contato</a></li>
    </ul>

    <!-- Conteúdo do portfólio -->
    <div id="inicio">
        <h2>Seja bem-vindo ao meu portfólio!</h2>
        <p>Aqui você encontrará uma seleção dos meus melhores projetos.</p>
    </div>

    <div id="projetos">
        <h2>Projetos</h2>
        <p>Confira alguns dos meus trabalhos mais recentes:</p>
        <!-- Adicione aqui detalhes e imagens dos seus projetos -->
        <div class="projeto">
            <h3>Projeto 1</h3>
            <img src="caminho_da_imagem_projeto1.jpg" alt="Projeto 1">
            <p>Descrição breve do projeto 1.</p>
        </div>
        <div class="projeto">
            <h3>Projeto 2</h3>
            <img src="caminho_da_imagem_projeto2.jpg" alt="Projeto 2">
            <p>Descrição breve do projeto 2.</p>
        </div>
    </div>

    <div id="sobre">
        <h2>Sobre mim</h2>
        <p>Um pouco sobre minha experiência e habilidades:</p>
        <!-- Adicione informações sobre você e suas habilidades -->
        <p>Eu sou Jacqueline, uma desenvolvedora web apaixonada por tecnologia. Tenho experiência em linguagens de programação como HTML, CSS e JavaScript, além de conhecimentos em frameworks e bibliotecas como React e Bootstrap.</p>
    </div>

    <div id="contato">
        <h2>Contato</h2>
        <p>Entre em contato comigo através do email: meuemail@example.com</p>
        <!-- Adicione seus detalhes de contato -->
        <p>Estou sempre aberta a novas oportunidades de trabalho e projetos interessantes. Não hesite em me enviar um email se quiser conversar!</p>
    </div>
</body>
</html>
